.env
venv/*
venv/
/venv/*
/venv/
/_ignored_files/*
_ignored_files/
__pycache__/*

*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg-info
*.egg
*.zip
*.tar
*.gz
venv_start_cmd.bat
venv_start_powershell.bat